html,body{
  width:100%;
}

.quiz-tags {
  margin: 10px 15px 5px;
}
.quiz-tags a {
  font-size: 9pt;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  padding: 0 6px;
  border-radius: 2px;
  margin-right: 5px;
  display: inline-block;
  border: 2px solid #287dff;
  color: #287dff;
  font-weight: 700;
}

.content-wrapper {
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}
.quiz-title {
  font-size: 19px;
  line-height: 27px;
  font-weight: 700;
  margin-bottom: 0;
  color: #161616;
}
.box-container {
  width: auto;
  margin: 15px;
}

.quiz h2 {
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  display: inline-block;
}
.quiz h2::after{
  display:block;
  margin-top:10px;
  width:90pt;
  height:2px;
  background-color:#00ab36;
  content:'';
}
.quiz box-container{
  width:50%;
  margin:0 auto;
}

.quiz-image-container{
  margin: 10px 0;
  display: block;
}

.quiz .quiz-image {
  display: block;
  width: 100%;
}

ul {
  display: block;
  list-style:none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left:0pt;
}

.quiz li {
  display: block;
  border: 1px solid #ebebeb;
  padding: 13px;
  margin: 10px 0;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
}

.true-box1{
  display: none;
  font-size: 1pc;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.quiz-result{
  display:none;
  background: #f5f5f5;
  padding: 17px;
  border-radius: 3px;
}

.true-box1::after{
  display:block;
  margin-top:3px;
  width:35pt;
  height:3px;
  background-color:#287dff;
  content:'';
}

.false-box{
  display: none;
  font-size: 1pc;
  line-height: 20px;
  font-weight: 600;
  padding-bottom: 3px;
  margin-bottom: 10px;
}

.false-box::after{
  display:block;
  margin-top:3px;
  width:45pt;
  height:3px;
  background-color:#ff5128;
  content:'';
}

.notclick{
  pointer-events: none;
}